@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
}

@layer base {
  body {
    @apply bg-[#FDFCFB] text-zinc-900 antialiased transition-colors duration-300;
  }
  
  .dark body {
    @apply bg-zinc-950 text-zinc-100;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.reading-progress-bar {
  @apply fixed top-0 left-0 h-1 bg-zinc-900 z-[70] transition-all duration-150;
}

.dark .reading-progress-bar {
  @apply bg-white;
}
